ul li .nav-link
{
    color: #FFFFFF8C;
}
ul li .nav-link:hover{
    color: #FFFFFF;
}

.my-hover{
    transition: 0.35s;
}

.my-hover:hover{
    transition: 0.35s;

    background-color: rgba(255, 255, 255, 0.04);
}
.my-hover:hover .star{
    filter: invert(67%) sepia(62%) saturate(1205%) hue-rotate(2deg) brightness(106%) contrast(91%) !important;
}

.star{
    filter: invert(7%) sepia(2%) saturate(4159%) hue-rotate(170deg) brightness(97%) contrast(89%) !important;
}

.star-always .star{
    filter: invert(67%) sepia(62%) saturate(1205%) hue-rotate(2deg) brightness(106%) contrast(91%);
}