ul li .nav-link
{
    color: #FFFFFF8C;
}
ul li .nav-link:hover{
    color: #FFFFFF;
}

.my-hover{
    transition: 0.35s;
}

.my-hover:hover{
    transition: 0.35s;

    background-color: rgba(255, 255, 255, 0.04);
}